<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/css/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/css/listcourses.css">



    <title>Courses</title>
</head>

<body>
    <!---------------------------------- navi --------------------------------------------->
    <div class="nav">
        <div class="sidebar">

            <img src="../assets/images/สัญลักษณ์ประจำมหาวิทยาลัยแม่ฟ้าหลวง.png" width="50,70">
            <p class="text-center" style="color: #A60303">MFU</p>
            <hr>
            <li class="mt-5"><a href="listcourses.html"><i class="bi bi-map"></i></a></li>
            <li class="mt-5"><a href="#"><i class="bi bi-search"></i></a></li>
            <li class="mt-5"><a href="community.html"><i class="bi bi-chat"></i></a></li>
            <li class="mt-5"><a href="#"><i class="bi bi-star"></i></a></li>
            <li class="mt-5"><a href="noticommu.html"><i class="bi bi-bell"></i></a></li>
            <img id="image" src="<%=userinfo.image %>" width="51,48" alt="" >
        </div>

    </div> 

    <!--------------------------------- head ---------------------------------------->
    <div class="col" >
        <h1 class="head text-left" style="color: #A60303; ">List of courses</h1>
        <hr class="list"> 
    </div>
    
    

    
    

    <!-- ------------------------------------text --------------------------------------------------->

    <div class="col1" >
        <p class="mt mt-5">Free Elective Courses</p>
            <table class="table  table-hover" id="mytable">
            <thead>
                <tr class="table-secondary">
                    <th>Courses</th>
                    <th>Courses code</th>
                    <th>Rating</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td onclick="course()">Dota 2</td>
                    <td>11111</td>
                    <td>5.0</td>
                </tr>
                <tr>
                    <td>Home Remidies</td>
                    <td>222222</td>
                    <td>3.2</td>
                </tr>
                <tr>
                    <td>Valorant</td>
                    <td>33333</td>
                    <td>4.9</td>
                </tr>
                <tr>
                    <td>Popmart</td>
                    <td>444444</td>
                    <td>3.2</td>
                </tr>
            </tbody>
        </table>
        

    </div>

   
    <div class="col2">
        <p class="mt mt-5">Major Elective Courses</p>
        <table class="table table-hover" id="mytable">
            <thead>
                <tr class="table-secondary">
                    <th>Courses</th>
                    <th>Courses code</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dota 2</td>
                    <td>11111</td>
                    <td>5.0</td>
                </tr>
                <tr>
                    <td>Home Remedies</td>
                    <td>222222</td>
                    <td>3.2</td>
                </tr>
                <tr>
                    <td>Valorant</td>
                    <td>33333</td>
                    <td>4.9</td>
                </tr>
                <tr>
                    <td>Popmart</td>
                    <td>444444</td>
                    <td>3.2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        // let info = JSON.parse(localStorage.getItem('authInfo'))
        // console.log(JSON.parse(localStrorage.getItem('suthInfo')))
        // console.log(info['access_token'])
        // console.log(info['expires_in'])
        // document.getElementById('image').setAttribute('scr',info.picture)
        function course(){
            window.location.href="courses.html"
        }
    </script>
   
    

    
   
</body>
</html>