<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/css/" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

  <style>
    .card-box {
      display: none;

    }
  </style>
</head>

<body>
  <div class="card-box" id="login-card">
    <h1 class="text-center">Log in</h1>
    <form>
      <div class="input-box my-4">
        <input type="text" placeholder="Username" name="username" id="username" class="form-control form-control-lg" />
      </div>
      <div class="input-box my-4">
        <input type="password" placeholder="Password" name="password" id="password"
          class="form-control form-control-lg" />
      </div>
      <div class="row-12 d-flex justify-content-end my-3">
        <!-- <div class="col-6">
          <span>Change
            <a id="change-password-btn" class="text-danger" style="cursor: pointer">password</a></span>
        </div> -->
        <div class="col-6">
          <span>Forgot
            <a id="forgot-password-btn" class="text-danger" style="cursor: pointer">password</a></span>
        </div>
      </div>

      <!-- GOOGLE LOGIN -->
      <div class="row-12 d-flex justify-content-center my-3">
        <!-- data-client_id: เอามาจาก google cloud control -->
        <div id="g_id_onload" data-client_id="920155246721-ukehlss9gdmo7lp69cgre2vem430pccg.apps.googleusercontent.com"
          data-context="signin" data-ux_mode="popup" data-callback="handleCredentialResponse" data-auto_prompt="false">
        </div>
        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
          data-text="signin_with" data-size="large" data-logo_alignment="left"></div>
      </div>

      <button type="button" class="red-btn my-2" onclick="submitLogin()">
        Login
      </button>
      <div class="d-flex justify-content-center mt-2">
        <span>or
          <a id="register-btn-1" class="text-danger" style="cursor: pointer">Register</a></span>
      </div>
    </form>
  </div>

  <!-- REGISTER -->
  <div class="card-box" id="register-card">
    <div class="reg">
      <form>
        <h1 class="text-center mb-3">Register</h1>

        <div class="mb-3">
          <input type="text" placeholder="Username" name="uname" class="form-control form-control-lg" />
        </div>
        <div class="mb-3">
          <input type="text" placeholder="Email" name="email" class="form-control form-control-lg" />
        </div>
        <div class="mb-3">
          <input type="password" placeholder="Password" name="psw" class="form-control form-control-lg" />
        </div>
        <div class="mb-3">
          <input type="password" placeholder="Confirm password" name="Confirm" class="form-control form-control-lg" />
        </div>
        <div class="mb-3">
          <select class="form-select" name="major" id="selectMajor">
            <option value="">Select Major</option>
          </select>
        </div>
        <div class="please">
          <span>
            <i class="bx bxs-info-square"></i> Please be careful about using
            coarse words.
          </span>
        </div>

        <div>
          <button type="button" class="red-btn">Sign up</button>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <!-- <span>or <a href="./Register.html"> Register</a></span> -->
          <span>or
            <a id="login-btn-1" class="text-danger" style="cursor: pointer">
              Login</a></span>
        </div>
      </form>
    </div>
  </div>

  

  <!-- CHANGE PASSWORD -->
  <!-- <div class="card-box" id="change-password-card">
    <form>
      <h1 class="text-center mb-2">Change password</h1>
      <div class="mb-2">
        <input type="password" placeholder="New password" name="new pws" class="form-control form-control-lg" />
      </div>

      <div class="mb-2">
        <input type="password" placeholder="Confirm password" name="con pws" class="form-control form-control-lg" />
      </div>

      <div class="mb-2">
        <button type="button" class="red-btn">Confirm</button>
      </div>

      <div>
        <a id="login-btn-2" class="btn red-outline-btn">Back to Login </a>
      </div> -->

  <!-- <div class="d-flex justify-content-center mt-2">
        <span>or
          <a id="register-btn-2" class="text-danger" style="cursor: pointer">
            Register</a></span>
      </div>
    </form>
  </div> -->

  <div class="card-box" id="forgot-password-card">
    <div class="forgot2">
      <form>
        <h1 class="text-center my-5">Forgot Password</h1>
        <div class="row my-2">
          <input type="text" id="username-forgot" placeholder="Username" class="form-control form-control-md">
          <br>
          <span class="text-center mt-3"><b>Or</b></span>
        </div>
        <div class="row my-2">

          <input type="email" placeholder="Enter your email" name="uemail" id="userEmail"
            class="form-control form-control-md" />

        </div>
        <div class="row my-4">
          <a class="btn red-btn" href="./verify.html"> <!-- onclick="sendEmail()" -->
            Continue
          </a>
        </div>

        <div class="row d-flex justify-content-center align-content-center">
          <div class="col">
            <a id="login-btn-3" class="btn red-outline-btn" style="cursor: pointer">Back to Login</a>
          </div>
        </div>
        <!-- <div class="row my-4">
          <div class="col-12 d-flex justify-content-center align-content-center">
            <span>
              or<a id="register-btn-3" class="text-danger" style="cursor: pointer">
                Register</a>
            </span>
          </div> 
        </div>-->
      </form>
    </div>
  </div>
</body>

<!-- verifycode -->
<!-- <div class="card-box" id="verify-card">
  <form>
    <h1 class="text-center mb-2">Verify Security code</h1>
    <div class="mb-2">
      <h2 class="text-center mb-2">Check  your e-mail to find the code we sent</h2>
    </div>

    <div class="mb-2">
      <input type="code" placeholder="Enter code" name="verify" class="form-control form-control-lg" />
    </div>

    <div class="mb-2">
      <button type="button" class="red-btn">Submit</button>
    </div> -->




<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script>

  (function () {
    emailjs.init({
      publicKey: "WYB22lEl5iSO4XplQ",
    });
  })();

  $(document).ready(() => {
    // Function to show a specific card and hide others
    const showCard = (cardId) => {
      $(".card-box").hide(); // Hide all card-boxes
      $(cardId).show(); // Show the specified card-box
    };

    // Initial state: show login card, hide others
    $("#login-card").show();

    // Register button clicks
    $("#register-btn-1").on("click", () => {
      showCard("#register-card");
    });

    $("#register-btn-2").on("click", () => {
      showCard("#register-card");
    });

    $("#register-btn-3").on("click", () => {
      showCard("#register-card");
    });

    // Login button clicks
    $("#login-btn-1").on("click", () => {
      showCard("#login-card");
    });

    $("#login-btn-2").on("click", () => {
      showCard("#login-card");
    });

    $("#login-btn-3").on("click", () => {
      showCard("#login-card");
    });

    // Forgot password button click
    $("#forgot-password-btn").on("click", () => {
      showCard("#forgot-password-card");
      $("#userEmail").val("");
    });

    // $("#change-password-btn").on("click", () => {
    //   showCard("#change-password-card");
    // });


    manageUser();
  });

  function handleCredentialResponse(response) {
    const responsePayload = parseJwt(response.credential);
    console.log("responsePayload: ", responsePayload);
    console.log("ID: " + responsePayload.sub);
    console.log("Full Name: " + responsePayload.name);
    console.log("Given Name: " + responsePayload.given_name);
    console.log("Family Name: " + responsePayload.family_name);
    console.log("Image URL: " + responsePayload.picture);
    console.log("Email: " + responsePayload.email);

    // เก็บ user information ไว้ใน session ชื่อ 'user'
    sessionStorage.setItem('user', JSON.stringify(responsePayload));

    window.location.href = './homepage.html';

  }

  function parseJwt(token) {
    var base64Url = token.split(".")[1];
    var base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
    var jsonPayload = decodeURIComponent(
      atob(base64)
        .split("")
        .map(function (c) {
          return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
        })
        .join("")
    );
    return JSON.parse(jsonPayload);
  }

  function submitLogin() {
    let username = $("#username").val();
    let password = $("#password").val();
  }

  function passwordAlert() {
    let userEmail = $("#userEmail").val();
    let password = "1234";
  }

  function manageUser() {
    let user = [
      {
        email: "user1@mail.com",
        fName: "user1",
        lName: "name1",
        role: "t"
      },
      {
        email: "user2@mail.com",
        fName: "user2",
        lName: "name2",
        role: "s"
      },
      {
        email: "user3@mail.com",
        fName: "user3",
        lName: "name3",
        role: "t"
      },
      {
        email: "user4@mail.com",
        fName: "user4",
        lName: "name4",
        role: "s"
      }
    ];

    // console.log("user: ", user)

    // user.forEach((item) => {
    //   if (item.email == "user1@mail.com") {
    //     console.log(`User name: ${item.fName} is admin`);
    //   } else {
    //     console.log(`User name: ${item.fName} is user`);
    //   }


    //   if(item.role == "t"){
    //     console.log(`User name: ${item.fName} can't pose or comment!`);
    //   }else {
    //     console.log(`User name: ${item.fName} can pose or comment!`);
    //   }
    // });

  }



  function sendEmail() {
    let userEmail = $("#userEmail").val();
    let min = 1;
    let max = 100; 
    let number = Math.floor(Math.random() * (max - min + 1)) + min;

    let msgBody = `Hello Email ${number}`;

    let data = {
      service_id: 'service_u80wl34',
      template_id: 'template_ci8fq7e',
      user_id: 'WYB22lEl5iSO4XplQ',
      template_params: {
        'message': msgBody,
        'to_email': userEmail
      }
    };

    $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json'
    }).done(function () {
      alert('Your mail is sent!');
    }).fail(function (error) {
      alert('Oops... ' + JSON.stringify(error));
    });


  }


</script>

</html>