<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notification</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/navbar.css">
        <link rel="stylesheet" href="../assets/css/page-layout.css">
        <!-- <link rel="stylesheet" href="../assets/css/post.css"> -->
        <link rel="stylesheet" href="../assets/css/noticommu.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <script src="../assets/css/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../assets/lib/fusioncharts/js/fusioncharts.js"></script>
        <script src="../assets/lib/fusioncharts/js/themes/fusioncharts.theme.fusion.js"></script>
    </head>
    <style>
        .img-profile {
            border-radius: 50%;
            width: 35px;
            margin-top: 4rem;
        }
    </style>
    <body>
        <div class="flex-row">
            <div class="nav">
                <div class="sidebar">
                    <img src="../assets/images/สัญลักษณ์ประจำมหาวิทยาลัยแม่ฟ้าหลวง.png" width="50,70">
                    <p class="text-center" style="color: #A60303">MFU</p>
                    <hr>
                    <li class="mt-5"> <a href="/dashboard"><i class="bi bi-bar-chart"></i></a> </li>
                    <li class="mt-4"><a href="/listcourse"><i class="bi bi-map"></i></a></li>
                    <li class="mt-4"><a href="/search"><i class="bi bi-search"></i></a></li>
                    <li class="mt-4"><a href="/community"><i class="bi bi-chat"></i></a></li>
                    <li class="mt-4"><a href="/bookmark"><i class="bi bi-star"></i></a></li>
                    <li class="mt-4"><a href="/notification"><i class="bi bi-bell"></i></a></li>
                    <li class="mt-4"><a href="/history"><i class="bi bi-clock-history"></i></li>
                    <a class="btn" onclick="logout()">
                        <div id="user-profile"></div>
                    </a>
    
                </div>
            </div>
            <div class="container">
                <h1 class="mt-5" style="color: #A60303;">Notification</h1>
                <div class="container-fluid">
                    <div class="justi">
                    <div class="mt-5" id="shape1">
                        <a class="bubu" href="">Community</a>
                    </div>
                    <a href=""><div class="mt-5" id="shape2">
                        <a href="/notireview" class="bube">Review</a>


                    </div></a>
                </div>
                   <a class="ne" href="">
                    <div class="card mt-5" style="height: 7rem;">
                        <h3>Review home remedies plz</h3>
                        <h4 class="co">It's good.The content of the lessons is simple.</h4>
                    </div>
                    </a>
                    <a class="ne" href=""><div class="card" style="height: 7rem;"><h3 class="no">Your post  has been deleted</h3></div></a>
                    <a class="ne" href=""><div class="card" style="height: 7rem;"><h3 class="no">Your comment  has been deleted</h3></div></a>
                </div>
        </div>
        
        <script src="../assets/css/load-html.js"></script>

        <script>
             $(document).ready(() => {
        const userinfo = JSON.parse(sessionStorage.getItem('userinfo'));
        console.log(userinfo)
        if (userinfo && userinfo.image) {
            $('#user-profile').html(`
                <img class="img-profile" crossorigin="anonymous" src="${userinfo.image}" alt="User Profile" referrerpolicy="no-referrer" />
            `);
        } else {
            console.log("No user image available");
            $('#user-profile').html(`<p>No profile image available.</p>`);
        }

        get_review_qty();
        get_review_chart();
        
    });


    function logout() {
        fetch('/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json()) // แปลง response เป็น JSON
        .then(data => {
            if (data.redirect) {
                window.location.href = data.redirect; // ใช้ URL ที่ได้รับจาก server
            } else {
                console.error('Logout failed');
            }
        })
        .catch(error => console.error('Error:', error));
    }
    function topicone (){
        window.location.href="forums.html"
    }
    function create(){
        window.location.href="forums.html"
    }
</script>
    </body>
</html>