<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/css/search.css">
    <script src="../assets/css/bootstrap.bundle.min.js"></script>



    <title>search</title>
</head>

<body>
    <!---------------------------------- navi --------------------------------------------->

    <!--------------------------------- head ---------------------------------------->
    <div class="col">
        <h1 class="head text-left" style="color: #A60303;">Courses Information</h1>
        <hr class="list">
    </div>




    <!-- ------------------------------------text --------------------------------------------------->
    <div class="container">
        <div class="row">
          <div class="col1">
            <p>Course search</p>
            <div class="input-group mb-3">
              <input id="searchInput" type="text" class="form-control" placeholder="Course name search" style="color: gray;">
              <button class="btn btn-outline-secondary" type="button" id="searchButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
              </button>
            </div>
          </div>
          <div class="col1">
            <p>Level</p>
            <div class="dropdown">
              <button id="levelDropdown" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                style="width: 100%;">
                Select Level
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" onclick="selectItem('levelDropdown', 'เมนู 1')">เมนู
                    1</a></li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('levelDropdown', 'เมนู 2')">เมนู
                    2</a></li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('levelDropdown', 'เมนู 3')">เมนู
                    3</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <p>School</p>
            <div class="dropdown dropdown-lg">
              <button id="schoolDropdown" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                style="width: 100%;">
                Select School
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" onclick="selectItem('schoolDropdown', 'เมนู 1')">เมนู
                    1</a></li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('schoolDropdown', 'เมนู 2')">เมนู
                    2</a></li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('schoolDropdown', 'เมนู 3')">เมนู
                    3</a></li>
              </ul>
            </div>
          </div>
          </div>
    
          <div class="row">
          <div class="col1">
            <p>Course Type</p>
            <div class="dropdown dropdown-lg">
              <button id="coursetype" type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown"
                style="width: 100%;">
                Course Type
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" onclick="selectItem('coursetype', 'เมนู 1')">เมนู
                    1</a></li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('coursetype', 'เมนู 2')">เมนู
                    2</a></li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('coursetype', 'เมนู 3')">เมนู
                    3</a></li>
              </ul>
            </div>
          </div>
        
          <div class="col1">
            <p>Academic Year</p>
            <div class="dropdown">
              <button id="academicyear" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                style="width: 100%;">
                Select Academic Year
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" onclick="selectItem('academicyear', 'เมนู 1')">เมนู
                    1</a></li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('academicyear', 'เมนู 2')">เมนู
                    2</a></li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('academicyear', 'เมนู 3')">เมนู
                    3</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <p>Semester</p>
            <div class="dropdown dropdown-lg">
              <button id="semester" type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown"
                style="width: 100%;">
                Select Status
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" onclick="selectItem('semester', 'เมนู 1')">เมนู 1</a>
                </li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('semester', 'เมนู 2')">เมนู 2</a>
                </li>
                <li><a class="dropdown-item" href="#" onclick="selectItem('semester', 'เมนู 3')">เมนู 3</a>
                </li>
              </ul>
            </div>
          </div>
          </div>

   <!--search / clear button  -->
          <div class="row">
          <div class="col1 d-flex align-items-end justify-content-end">
            <input class="btn btn-primary" type="button" value="CLEAR" onclick="clearSelection()">
            <input class="btn btn-primary ms-2" type="submit"  value="SEARCH" onclick="redirectToAnotherPage()" style="background-color: #A60303; color: white;">
          </div>
        </div>
      </div>
    


      <script>
        var defaultTexts = {
          'levelDropdown': 'Select Level',
          'schoolDropdown': 'Select School',
          'coursetype': 'Course Type',
          'academicyear': 'Select Academic Year',
          'semester': 'Select Status'
        };
    
        function selectItem(dropdownId, selectedItem) {
          var dropdownButton = document.getElementById(dropdownId);
          dropdownButton.textContent = selectedItem;
        }
    
        function clearSelection() {
          Object.keys(defaultTexts).forEach(function (key) {
            var dropdownButton = document.getElementById(key);
            if (dropdownButton.tagName === 'BUTTON') {
              dropdownButton.textContent = defaultTexts[key];
              // Clear the selected item in the dropdown
              var dropdownMenu = dropdownButton.nextElementSibling;
              dropdownMenu.querySelectorAll('.dropdown-item').forEach(function (item) {
                item.classList.remove('active');
              });
            } else if (dropdownButton.tagName === 'INPUT') {
              dropdownButton.value = '';
            }
          });
    
          document.getElementById('searchInput').value = '';
        }

        function redirectToAnotherPage() {
        window.location.href = '/coursesearch.html';
    }
      </script>
    

</body>

</html>