* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.forgot2 {
    width: 420px;
    border: 2px solid (255, 255, 255, .2);
    color: black;
}
.forgot2 h1 {
    font-size: 36px;
    text-align: center;
}
.forgot2 .input-box {
    width: 80%;
    height: 50px;
    margin: 30px 0;
}

.forgot2 .btn-back {
    width:100%;
    height: 45px;
    font-size: 16px;
    margin-top: 8px;
    border-radius: 12px;
    border: 2px solid #A60303;
    color: #A60303;
}

.btn-danger{
    background-color: #A60303 !important;
}

.forgot2 .register-link3 {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link3 p {
    color: #505050;
}

.register-link3 a {
    color: #A60303;
    text-decoration: none;
    font-weight: 600;
}